@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

a{
  text-decoration: none;
}
button{
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px;
}
body{
  font-family: 'Bebas Neue', cursive;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #371a3a;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a.active {
  background-color: #48e0d4;
  color: rgb(25, 47, 143);
}


.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgb(182, 31, 119);
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    
    float: none;
  }
}