@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');
a{
  text-decoration: none;
}
button{
  border-radius: 5px;
}
body{
  margin: 0;
  font-family: 'Pacifico', cursive;;
}
button{
    border-radius: 25px;
    background-color: darkcyan;
}
a{
  color: aqua;
  text-decoration: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
 
  background-color: #9e06e8;
  color: rgb(218, 34, 34);
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgb(199, 33, 33);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar a {
      float: left;
  }

  div.content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
      text-align: center;
      float: none;
  }
}
h1{
  font-family: 'Pacifico', cursive;


}
h2{
  font-family: 'Staatliches', cursive;

}
h3{
  font-family: 'Luckiest Guy', cursive;
 
}
h4{
  font-family: 'Creepster', cursive;


}
h5{
  font-family: 'Gloria Hallelujah', cursive;
}
h6{
  font-family: 'Special Elite', cursive;

}
table{
  font-family: 'Press Start 2P', cursive;
font-size: 10px;



}
ol{
 
  font-family: 'Moo Lah Lah', cursive;


}
